@page "/"
@page "/Solve"
@using TrianglePegGameSolver.Web.Features.PegBoard.Components
@using TrianglePegGameSolver.Web.Features.Home.Components
@using TrianglePegGameSolver.Application.Solver.Queries.SolvePegBoard
@using TrianglePegGameSolver.Domain
@using TrianglePegGameSolver.Web.Features.Home.Store
@using TrianglePegGameSolver.Web.Features.Home.Store.Actions

@inject IDispatcher _dispatcher
@inject IState<SolveState> _state

<h1 class="text-3xl font-bold text-gray-900">
    Solve
</h1>
<h3 class="text-xl text-gray-900">
    Click any peg to show the solution
</h3>

@if (_state.Value.HasSolution)
{
    <Button OnClick="Reset" Text="Reset"></Button>
}

<div class="flex flex-col lg:flex-row">
    <div class="w-1/2 self-center lg:w-3/4">
        <SolvedPegBoard Board="_state.Value.Board" Move="_state.Value.CurrentMove?.Move" OnClick="PegClicked"></SolvedPegBoard>
    </div>
    <div class="lg:w-1/4">
        <MoveList Moves="_state.Value.Moves" MoveClick="x=>SetFromMove(x)"></MoveList>
    </div>
</div>

@code
{

    private void PegClicked(PegHole hole)
    {
        if (!_state.Value.HasSolution)
        {
            hole.Filled = false;
            _dispatcher.Dispatch(new SolveAction { Board = _state.Value.Board });
        }
    }

    private void Reset()
    {
        _dispatcher.Dispatch(new ResetAction());
    }

    private void SetFromMove(PegMoveWithBoard move)
    {
        _dispatcher.Dispatch(new MoveSelectedAction { Move = move });
    }

}