@inherits FluxorComponent
@page "/Play"
@using TrianglePegGameSolver.Web.Features.PegBoard.Components
@using TrianglePegGameSolver.Web.Features.Home.Components
@using TrianglePegGameSolver.Application.Solver.Queries.SolvePegBoard
@using TrianglePegGameSolver.Domain
@using TrianglePegGameSolver.Web.Features.Home.Store
@using TrianglePegGameSolver.Web.Features.Home.Store.Actions

<PageTitle Title="Triangle Peg Game - Play" />

<h1 class="text-3xl font-bold text-gray-900">
    Play
</h1>