@inherits FluxorComponent
@page "/Play"
@using TrianglePegGameSolver.Web.Features.PegBoard.Components
@using TrianglePegGameSolver.Web.Features.PlayGame.Components
@using TrianglePegGameSolver.Application.Solver.Queries.SolvePegBoard
@using TrianglePegGameSolver.Domain
@using TrianglePegGameSolver.Web.Features.PlayGame.Store

@inject IDispatcher _dispatcher
@inject IState<PlayGameState> _state

<PageTitle Title="Triangle Peg Game - Play" />

<div class="flex justify-between">
    <h1 class="text-3xl font-bold text-gray-900">
        Play
    </h1>
    @if (_state.Value.StartingHoleSelected)
    {
        <div class="self-center">
            <Button OnClick="Restart" Text="Restart"></Button>
        </div>
    }
</div>

@if (_state.Value.AvailableMoves == 0)
{
    <div class="flex justify-center my-2">
        <EmojiSadIcon class="w-6 h-6"></EmojiSadIcon><span>Oh no! You're out of moves!</span>
    </div>
}

<div class="flex justify-center">
    <div class="w-full lg:w-3/4">
        <PlayablePegBoard></PlayablePegBoard>
    </div>
</div>

@code
{
    private void Restart()
    {
        _dispatcher.Dispatch(new RestartAction());
    }
}