@inherits FluxorComponent
@page "/Play"
@using TrianglePegGameSolver.Web.Features.PlayGame.Components
@using TrianglePegGameSolver.Web.Features.PlayGame.Store

@inject IDispatcher _dispatcher
@inject IState<PlayGameState> _state

<PageTitle Title="Triangle Peg Game - Play" />

<div class="flex justify-between">
    <h1 class="text-3xl font-bold text-gray-900">
        Play
    </h1>
    @if (_state.Value.Moves.Any())
    {
        <div class="self-center">
            <Button OnClick="UndoMove" Text="Undo"><ReplyIcon class="w-6 h-6"></ReplyIcon></Button>
        </div>
    }
    @if (_state.Value.StartingHoleSelected)
    {
        <div class="self-center">
            <Button OnClick="Restart" Text="Restart"><XCircleIcon class="w-6 h-6"></XCircleIcon></Button>
        </div>
    }
</div>

@if (_state.Value.AvailableMoves == 0)
{
    <div class="flex justify-center my-2">
        <EmojiSadIcon class="w-6 h-6"></EmojiSadIcon><span>Oh no! You're out of moves!</span>
    </div>
}

<div class="flex justify-center">
    <div class="w-full lg:w-3/4">
        <PlayablePegBoard></PlayablePegBoard>
    </div>
</div>
@if (_showRestartModal)
{
    <RestartModal OnClose="OnRestartModalClose"></RestartModal>
}

@code
{
    private bool _showRestartModal = false;

    private void Restart()
    {
        _showRestartModal = true;
    }

    private void UndoMove()
    {
        _dispatcher.Dispatch(new UndoMoveAction());
    }

    private void OnRestartModalClose(bool selection)
    {
        _showRestartModal = false;
        if (selection)
        {
            _dispatcher.Dispatch(new RestartAction());
        }
    }
}