@page "/counter"
@using TrianglePegGameSolver.Web.Features.Counter.Store
@inject IDispatcher Dispatcher
@inject IState<CounterState> CounterState

<h1>Counter</h1>

<p>Current count: @CounterState.Value.CurrentCount</p>

<button class="px-5 rounded-md bg-blue-500 text-white" @onclick="IncrementCount">Click me</button>
@code {

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new CounterIncrementAction());
    }
}