@page "/counter"
@using TrianglePegGameSolver.Web.Features.Counter.Store
@using Microsoft.Extensions.Logging
@inject IDispatcher Dispatcher
@inject IState<CounterState> CounterState
@inject ILogger<Counter> logger

<h1>Counter</h1>

<p>Current count: @CounterState.Value.CurrentCount</p>

<Button OnClick="IncrementCount" Text="Click me"></Button>

@code {

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new CounterIncrementAction());
        logger.LogInformation("Increment {Count}", CounterState.Value.CurrentCount);
    }
}