@page "/counter"
@using TrianglePegGameSolver.Web.Features.Counter.Store
@inject IDispatcher Dispatcher
@inject IState<CounterState> CounterState

<h1>Counter</h1>

<p>Current count: @CounterState.Value.CurrentCount</p>

<Button OnClick="IncrementCount" Text="Click me"></Button>

@code {

    private void IncrementCount()
    {
        Dispatcher.Dispatch(new CounterIncrementAction());
    }
}