@using TrianglePegGameSolver.Web.Features.Navigation.Store
@inherits FluxorComponent
@inject IState<NavigationState> _state

<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <Logo></Logo>
                <div class="hidden md:flex">
                    <div class="ml-8 flex items-baseline space-x-4">
                        <NavigationLink Href="solve" Text="Solve"></NavigationLink>
                        <NavigationLink Href="play" Text="Play"></NavigationLink>
                        <NavigationLink Href="http://blazor.net" Text="Blazor" IsBlock="true" NewTab="true"></NavigationLink>
                    </div>
                </div>
            </div>
            <NavLink class="hidden md:block" href="https://github.com/TGrannen/TrianglePegGameSolver" target="_blank">
                <img src="images/GitHub-Mark-Light-32px.png" alt="Image">
            </NavLink>
            <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <MenuButton></MenuButton>
            </div>
        </div>
    </div>

    <!-- Mobile menu -->
    <div class="md:hidden">
        <div class="@NavMenuCssClass px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <NavigationLink Href="solve" Text="Solve" IsBlock="true"></NavigationLink>
            <NavigationLink Href="play" Text="Play" IsBlock="true"></NavigationLink>
            <NavigationLink Href="http://blazor.net" Text="Blazor" IsBlock="true" NewTab="true"></NavigationLink>
        </div>
    </div>
</nav>

@code {
    private string NavMenuCssClass => _state.Value.Open ? "block" : "hidden";

}