name: Pulumi-Preview

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'infrastructure/**'
      - '.github/workflows/pulumi_preview.yml'
  push:
    branches:
      - '**'
      - '!main'
    paths:
      - 'infrastructure/**'
      - '.github/workflows/pulumi_preview.yml'

jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    environment: triangle-peg-game / production
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - uses: pulumi/actions@v3
        with:
          command: preview
          stack-name: ${{ secrets.PULUMI_ORG }}/triangle-peg-game/prod
          work-dir: ./infrastructure
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
