name: Pulumi-!!Destroy!!

on:
  workflow_dispatch:
    inputs:
      stackName:
        description: 'Stack Name'
        required: true
        default: 'prod'
        type: choice
        options:
          - prod

jobs:
  deploy:
    name: Destroy Resources
    runs-on: ubuntu-latest
    environment: triangle-peg-game / production
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - uses: pulumi/actions@v3
        with:
          command: destroy
          stack-name: ${{ secrets.PULUMI_ORG }}/triangle-peg-game/${{ github.event.inputs.stackName }}
          work-dir: ./infrastructure
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
