# LEGACY: Remove this file after Cloudflare Pages is verified and you no longer need Azure Static Web Apps.
name: Azure Static Web Apps CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!infrastructure/**'
      - '!.github/workflows/**'
      - '.github/workflows/static-web-app.yml'

jobs:
  build-and-deploy-prod:
    name: Deploy Frontend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout Source code

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Install wasm-tools workload
        run: dotnet workload install wasm-tools

      - name: Restore dependencies
        run: dotnet restore
        working-directory: TrianglePegGameSolver.Web
        
      - name: Find and Replace Google Analytics Tag
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: "TODO_GOOGLE_TAG"
          replace: ${{ secrets.GOOGLE_ANALYTICS_TAG }}
          include: "TrianglePegGameSolver.Web/wwwroot/appsettings.json"
          regex: false

      - name: Setup Node.js environment (for Tailwind)
        uses: actions/setup-node@v4

      - name: npm install
        run: npm install
        working-directory: TrianglePegGameSolver.Web

      - name: Build
        run: dotnet build TrianglePegGameSolver.Web/TrianglePegGameSolver.Web.csproj -c Release --no-restore

      - name: Publish Client
        run: dotnet publish TrianglePegGameSolver.Web/TrianglePegGameSolver.Web.csproj -c Release --no-restore --output temp
        working-directory: TrianglePegGameSolver.Web

      - name: Delete extra BR files
        working-directory: TrianglePegGameSolver.Web/temp/wwwroot
        run: find . -name '*.br' -delete

      - name: Delete extra GZ files
        working-directory: TrianglePegGameSolver.Web/temp/wwwroot
        run: find . -name '*.gz' -delete

      - name: Build And Deploy Static Web App to Prod
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "upload"
          ###### Repository/Build Configurations ######
          app_location: "TrianglePegGameSolver.Web/temp/wwwroot"
          output_location: ""
          skip_app_build: true
          ###### End of Repository/Build Configurations ######